<h3>Dash</h3>

<%= @user %>
<%= @user.inspect %>
<hr>
<h4>On Calendar for <%= @user.email %>:</h4>
<%= @atty %> 
<hr>
<h4>Employment Cases on Calendar:</h4>
<%= @page.css('center').text %>
	<div class="container">
		<h6>WT</h6>
		<h6>OE</h6>
		<%= @file %> 
	</div>
<hr>
<div class="container">
	<h4>Details:</h4>

		<details>
			<h1>Hello</h1>
		</details>
</div>





	
		
	
