<div id="<%= dom_id attorney %>">
  <p>
    <strong>Sbn:</strong>
    <%= attorney.sbn %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= attorney.status %>
  </p>

  <p>
    <strong>Full name:</strong>
    <%= attorney.full_name %>
  </p>

  <p>
    <strong>Law Firm:</strong>
    <%= attorney.lawfirm %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= attorney.address %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= attorney.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= attorney.email %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= attorney.website %>
  </p>

  <p>
    <strong>Discipline:</strong>
    <%= attorney.discipline %>
  </p>

  <p>
    <strong>Law school:</strong>
    <%= attorney.law_school %>
  </p>

  <p>
    <strong>Admit date:</strong>
    <%= attorney.admit_date %>
  </p>

</div>
