<div id="<%= dom_id attorney %>">
  <p>
    <strong>Sbn:</strong>
    <%= attorney.sbn %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= attorney.status %>
  </p>

  <p>
    <strong>Full name:</strong>
    <%= attorney.full_name %>
  </p>

  <p>
    <strong>Firm name:</strong>
    <%= attorney.firm_name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= attorney.address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= attorney.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= attorney.state %>
  </p>

  <p>
    <strong>Zip:</strong>
    <%= attorney.zip %>
  </p>

  <p>
    <strong>Tel:</strong>
    <%= attorney.tel %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= attorney.email %>
  </p>

  <p>
    <strong>Old firm name:</strong>
    <%= attorney.old_firm_name %>
  </p>

</div>
