<%= form_with(model: attorney) do |form| %>
  <% if attorney.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(attorney.errors.count, "error") %> prohibited this attorney from being saved:</h2>

      <ul>
        <% attorney.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :sbn, style: "display: block" %>
    <%= form.text_field :sbn %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.text_field :status %>
  </div>

  <div>
    <%= form.label :full_name, style: "display: block" %>
    <%= form.text_field :full_name %>
  </div>

  <div>
    <%= form.label :firm_name, style: "display: block" %>
    <%= form.text_field :firm_name %>
  </div>

  <div>
    <%= form.label :address, style: "display: block" %>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.label :city, style: "display: block" %>
    <%= form.text_field :city %>
  </div>

  <div>
    <%= form.label :state, style: "display: block" %>
    <%= form.text_field :state %>
  </div>

  <div>
    <%= form.label :zip, style: "display: block" %>
    <%= form.text_field :zip %>
  </div>

  <div>
    <%= form.label :tel, style: "display: block" %>
    <%= form.text_field :tel %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :old_firm_name, style: "display: block" %>
    <%= form.text_field :old_firm_name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
