

<div class="center">
  <%= image_tag('logo.png')%>
</div>

<div id="forms-btn">
  <button class="open-button" onclick="openForm()">Forms</button>
</div>

<div class="form-popup" id="myForm">
  <form action="/hello" class="form-container">
    <!-- <label for="psw"><b>Passcode</b></label> -->
    <input type="password" id="textBox" placeholder="Enter Passcode" name="psw" required>

    <button type="submit" class="btn" onclick="redirect()">Enter</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>
<script>
    function openForm() {
      document.getElementById("myForm").style.display = "block";
      document.getElementById("forms-btn").style.display = "none";
    }

    function closeForm() {
      document.getElementById("myForm").style.display = "none";
      document.getElementById("forms-btn").style.display = "block";
    }
    function redirect(){
      console.log("Hello, Zack!");
      var input = document.getElementById("textBox").value;
      if (input === "123") {
                window.location.href = "/Users/zacharytyson/Desktop/Caseprism/app/views/devise/sessions/hello.html.erb";
            } else if (input === "456") {
                window.location.href = "goodbye.html";
            } else {
                alert("Invalid Input");
            }
        }
    
</script>


<div id="register-btn">
  <button class="open-button" onclick="openRegister()">Register</button>
</div>

<div id="register-popup">
  <form action="/action_page.php" class="form-container">
    <label for="full_name"><b>Full Name</b></label>
    <input type="text" placeholder="Enter Full Name" name="full_name" required>
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>
    <label for="phone"><b>Phone</b></label>
    <input type="text" placeholder="Enter Phone Number" name="phone">
    <button type="submit" class="btn">Submit</button>
    <button type="button" class="btn cancel" onclick="closeRegister()">Close</button>
  </form>
</div>
<script>
    function openRegister() {
      document.getElementById("register-popup").style.display = "block";
      document.getElementById("register-btn").style.display = "none";
    }

    function closeRegister() {
      document.getElementById("register-popup").style.display = "none";
      document.getElementById("register-btn").style.display = "block";
    }
</script>






<div id="mellon">

    <h2>Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>

</div>

<div id="wind">
  <button onclick="myFunction()">Log in</button>
</div>


<script> 
  
    function myFunction() {
      document.getElementById("mellon").style.display = "block"
      document.getElementById("wind").style.display = "none"
    }

  
</script>

<!--  #render "devise/shared/links" %> -->
